.circles {

  &__logo {
    display: inline-block;
    margin-bottom: 5rem;
    text-align: center;
    width:100%;

    &--wordmark {

    }
  }

  &__content {
    margin-top: 20rem;
    width: 100%;


    &--item {

    }

    &--circles {
      position: relative;
    }

    &--circle {
      @include centerElement;
    }
  }
}