.section-circles {
  background-color: $color-background-main;
  padding-bottom: 15rem;
  color: $color-primary-font;
  //font-size: 5rem;
}

.wrapper {
  margin: 0 auto;
  margin-left: 20rem;
  margin-right: 20rem;
  padding: 20rem;
}